body {
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.start-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  z-index: 999;
  transition: opacity 0.5s, transform 0.3s;
}

.start-btn .btn-icon {
  width: 10vw;
  height: auto;
  margin-bottom: 10px;
  filter: drop-shadow(0 5px 5px rgba(0, 0, 0, 0.2));
}

.start-btn .btn-text {
  font-size: 4vw;
  font-weight: bold;
  color: #333;
  letter-spacing: 0.5vw;
}

.start-btn:hover {
  transform: translate(-50%, -50%) scale(1.1);
}

.obj {
  position: absolute;
  display: block;
  transition: all 1.5s cubic-bezier(0.19, 1, 0.22, 1);
}

.gathered {
  top: 50% !important;
  left: 50% !important;
  right: auto !important;
  bottom: auto !important;

  transform: translate(-50%, -50%) scale(0) rotate(0deg) !important;
  opacity: 0;
}

.obj1-conversation {
  top: 15%;
  left: 6%;
  width: 26%;
  transform: rotate(3deg);
  z-index: 5;
}
.obj2-book {
  top: 39%;
  left: 2%;
  width: 42%;
  transform: rotate(3deg);
  z-index: 6;
}
.obj3-time1 {
  top: 4%;
  left: 35%;
  width: 17%;
  transform: rotate(3deg);
  z-index: 3;
}
.obj4-time2 {
  top: 12%;
  left: 45%;
  width: 18%;
  transform: rotate(359deg);
  z-index: 5;
}
.obj5-talking {
  top: 3%;
  left: 29%;
  width: 46%;
  transform: rotate(2deg);
  z-index: 4;
}
.obj6-gray-top {
  top: 1%;
  left: 76%;
  width: 22%;
  transform: rotate(1deg);
  z-index: 4;
}
.obj9-lime-text {
  top: 25%;
  right: 14%;
  width: 19%;
  transform: rotate(1deg);
  z-index: 5;
}
.obj7-date {
  top: 26%;
  right: 9%;
  width: 35%;
  transform: rotate(359deg);
  z-index: 5;
}
.obj8-brown {
  bottom: 2%;
  right: 5%;
  width: 7%;
  z-index: 4;
}

.obj:hover {
  transform: scale(1.1) rotate(0deg) !important;
  z-index: 100 !important;
  cursor: pointer;
  transition: all 0.3s ease;
}
